In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
import sys # Question 2g

In [6]:
# debug
test_df = pd.read_csv('FAOSTAT_Lab3_Original.csv' , encoding="unicode_escape")
display(test_df)

,ï»¿Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QC,Crops,2,Afghanistan,5419,Yield,221,"Almonds, with shell",2009,2009,hg/ha,39154.0,Fc,Calculated data
1,QC,Crops,2,Afghanistan,5419,Yield,221,"Almonds, with shell",2010,2010,hg/ha,49955.0,Fc,Calculated data
2,QC,Crops,2,Afghanistan,5419,Yield,221,"Almonds, with shell",2011,2011,hg/ha,45000.0,Fc,Calculated data
3,QC,Crops,2,Afghanistan,5419,Yield,221,"Almonds, with shell",2012,2012,hg/ha,45960.0,Fc,Calculated data
4,QC,Crops,2,Afghanistan,5419,Yield,221,"Almonds, with shell",2013,2013,hg/ha,29910.0,Fc,Calculated data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207390,QC,Crops,181,Zimbabwe,5510,Production,15,Wheat,2015,2015,tonnes,45302.0,NaN,Official data
207391,QC,Crops,181,Zimbabwe,5510,Production,15,Wheat,2016,2016,tonnes,42008.0,NaN,Official data
207392,QC,Crops,181,Zimbabwe,5510,Production,15,Wheat,2017,2017,tonnes,38715.0,NaN,Official data
207393,QC,Crops,181,Zimbabwe,5510,Production,15,Wheat,2018,2018,tonnes,45000.0,F,FAO estimate
207394,QC,Crops,181,Zimbabwe,5510,Production,15,Wheat,2019,2019,tonnes,80000.0,*,Unofficial figure

# Question 2
Write a python script (lab3.py) (clearly, logically named) that defines and calls a function that does the following:

a) Takes in 3 arguments as an input. [6 Marks]
1. File name (eg. ‘FAOSTAT_Lab3_Original.csv’)
2. Item (eg. ‘Apples’)
3. Element (eg. ‘Production’)

b) Read the csv file into a dataframe using Pandas [4 Marks]
Hint: if you encounter issues reading the file, consider: pd.read_csv(filename,
encoding= 'unicode_escape')

c) Generates a new dataframe that filter for a specific ‘Item’ and ‘Element’ combination. [5 Marks]

d) List the countries that has nan as the values. [5 Marks]

e) For the areas that have the actual values for the ‘Element’, find the Year that has the maximum values of the ‘Item’, the respective Values, and the median values throughout the years. The output dataframe should have the structure as follows: [25 Marks]

f) Save this dataframe as csv, with file name ‘output_<Item>_<Element>.csv’. [5 Marks]

g) You should be able to run it from command line to produce the output csv file, see below for example:

$ python lab3.py “FAOSTAT_Lab3_Original.csv” “Apples” “Production”

‘output_Apples_Production.csv’ should be created and should contain a list of countries starting with Afghanistan and ending with Zimbabwe. You can check the output by using this command:

$ cat ‘output_Apples_Production.csv’

In [23]:
# Question 2
print("Question 2")
# Question 2a - creating function with 3 inputs
def lab3(csv_file, item, element):
    # Question 2b - reading the new csv file and turning into dataframe
    try:
        df = pd.read_csv(csv_file, encoding="unicode_escape")
        # print(df) # debug

        # Question 2c - df that filter for 'item' and 'element'
        filtered_df = df[(df['Item'] == item) & (df['Element'] == element)]
        # display(filtered_df) # debug

        # Question 2d - list countries that has nan as values
        countries_with_nan = filtered_df[filtered_df['Value'].isna()]['Area'].drop_duplicates()
        print("List of each country from filtered_df with NAN values:")
        print(countries_with_nan.to_frame().to_string(index=False))
    
        # Question 2e
        # Removing rows with NaN values in the 'Value' column
        filtered_df = filtered_df[~filtered_df['Area'].isin(countries_with_nan)]

        # for each element / item, find the largest value and return the year

        # Finding the year with the maximum value and the median value
        output_df = filtered_df.groupby('Area').agg(
            max_value=('Value', 'max'),
            median_value=('Value', 'median')
        ).reset_index()

        max_years = filtered_df.loc[filtered_df.groupby('Area')['Value'].idxmax()]['Year'].reset_index(drop=True)
        output_df['max_year'] = max_years
        output_df = output_df[['Area', 'max_year', 'max_value', 'median_value']]
        output_df = output_df.reset_index().rename(columns={'max_year': 'Year', 'max_value': 'Maximum Values', 'median_value': 'Median'})

        # Question 2f: save df with file name ‘output_<Item>_<Element>.csv’.
        output_csv_filename = f"output_{item.replace(' ', '_')}_{element.replace(' ', '_')}.csv"
        output_df.to_csv(output_csv_filename, index=False)

        # Returning the output DataFrame so it can be used later if necessary
        return output_df
    except Exception as e:
        print(f"An error occurred: {e}")

Question 2

In [24]:
# Calling the function
# lab3('FAOSTAT_Lab3_Original.csv', 'Apples', 'Production') # debug

if __name__ == "__main__":
    # Grabbing the command line arguments and passing them to the function
    # script, csv_file, item, element = sys.argv
    csv_file = "FAOSTAT_Lab3_Original.csv"
    item = "Papayas"
    element = "Production"
    lab3(csv_file, item, element)

List of each country from filtered_df with NAN values:
                            Area
                         Bahamas
                         Grenada
Lao People's Democratic Republic
                       Singapore