In [24]:
# Practice Problem 2.1a - extracting a column & print
import pandas as pd
mydict = {"1_Country": ["Brazil", "Russia", "India", "China", "SouthAfr"],
       "2_Capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "3_Currency": ["Brazilian real", "Russian Ruble", "Indian Rupee", "Chinese Yuan", "South African Rand "],
       "4_Currency_Sym": ["R", "₽", "₹", "¥", "R"] }
country_info = pd.DataFrame(mydict) # convert into a dataframe

# print('country_info[1:] will print:\n ',country_info[1:])  # see what this prints
country_info.index = ["BR", "RU", "IN", "CH", "SA"] # replacing the left most column with custom indexes

country_info.loc['BR']  # this should extract all cols in row 'BR' - Check.

BRser = country_info.loc['BR'] # loc() method 
print('BRser type is: \n',type(BRser))
print('BRser is:\n',BRser) # Chk what it prints  
print()

Curr = country_info["3_Currency"]
print('Curr is: \n', Curr)
print()
# Practice Problem 2.1b - extract and concat

new = country_info["1_Country"].copy() # making a copy of Country Feature column
country_info["3_Currency"] = country_info["4_Currency_Sym"].str.cat(new, sep=", ") # concat Currency_Sym with Currency

print(country_info)

print('extracts element in row 0 under column 2_Capital using iloc() and at \n')
print(country_info.iloc[0].at["2_Capital"])

print('extracts element in row 0 under column 2_Capital using iat')
print(country_info.iat[0,1])
# extracts element in row 0 under column 2_Capital

BRser type is:
 <class 'pandas.core.series.Series'>
BRser is:
 1_Country                 Brazil
2_Capital               Brasilia
3_Currency        Brazilian real
4_Currency_Sym                 R
Name: BR, dtype: object

Curr is:
 BR         Brazilian real
RU          Russian Ruble
IN           Indian Rupee
CH           Chinese Yuan
SA    South African Rand
Name: 3_Currency, dtype: object

   1_Country  2_Capital   3_Currency 4_Currency_Sym
BR    Brazil   Brasilia    R, Brazil              R
RU    Russia     Moscow    ₽, Russia              ₽
IN     India  New Dehli     ₹, India              ₹
CH     China    Beijing     ¥, China              ¥
SA  SouthAfr   Pretoria  R, SouthAfr              R
extracts element in row 0 under column 2_Capital using iloc() and at

Brasilia
extracts element in row 0 under column 2_Capital using iat
Brasilia

In [14]:
# Practice Problem 2.2 - Reading a csv file and related commands
import pandas as pd
BFA = pd.read_csv('bodyfat.csv')
# print(BFA[2:3]) # accessing the 2nd row - same as slicing mechanism
# print(BFA.at[3, "knee"]) 

# X = BFA.groupby(['density'])[['bodyfat']].describe()
# print(X)

# chestFatGroup = BFA.groupby("age")["chest"].mean()
# print(chestFatGroup)

multiGroup = BFA.groupby('age')[['chest', 'weight']].mean()
print(type(multiGroup))
print(multiGroup[0:5])

print(BFA.iloc[3].at["knee"]) # - try printing this and check

<class 'pandas.core.frame.DataFrame'>
       chest      weight
age
22    94.700  163.625000
23    95.350  175.100000
24    99.125  189.750000
25   100.925  179.312500
26   103.950  194.833333
37.3

In [17]:
# Practice Problem 2.2 cont
import pandas as pd
BFA = pd.read_csv('bodyfat.csv')
X = BFA.groupby(['age'])[['bodyfat']].describe()
print('Grouping by Category for bodyfat stats: \n', X)   

print('For categories 4 and 5:', X[0:5])

chestFatgroup = BFA.groupby("age")["chest"].mean()
print(type(chestFatgroup))
print('Grouping accorning to age using average fat in the chest: \n', chestFatgroup[:5])

# Multiple aggregation of data as groups
# If we want to group more than one quantity, we can do by listing
# them in the value col parameter w.r.t a specific label col parameter
# W.r.t "age" we want to group, chest and weight info.

multiGroup = BFA.groupby("age")["chest","weight"].mean()
print(type(multiGroup))
print('Multiple Grouping : \n', multiGroup[0:5])

Grouping by Category for bodyfat stats:
     bodyfat
      count       mean        std   min     25%    50%     75%   max
age
22      2.0  15.700000  13.576450   6.1  10.900  15.70  20.500  25.3
23      4.0  10.925000   1.317510   9.4  10.075  11.00  11.850  12.3
24      4.0  20.750000   6.014704  14.2  17.950  20.05  22.850  28.7
25      4.0  12.850000  11.752021   4.1   5.000   8.85  16.700  29.6
26      6.0  15.150000   7.178231   7.1   9.650  14.80  19.500  25.2
27      7.0  10.657143   6.425174   3.7   5.750  10.10  14.150  21.0
28      7.0  17.542857   6.662296  10.0  14.600  16.00  18.200  31.2
29      2.0   7.250000   2.192031   5.7   6.475   7.25   8.025   8.8
30      2.0  16.850000   6.151829  12.5  14.675  16.85  19.025  21.2
31      4.0  17.600000   6.411968   9.4  14.050  19.05  22.600  22.9
32      4.0  18.325000   4.786352  11.9  16.250  19.25  21.325  22.9
33      3.0  14.700000   1.752142  13.0  13.800  14.60  15.550  16.5
34      4.0  19.825000  10.076168   7.9  13.300  21.20  27.725  29.0
35     10.0  17.930000   9.688602   0.7  17.175  20.40  21.575  34.3
36      2.0  21.100000   5.939697  16.9  19.000  21.10  23.200  25.3
37      3.0  17.633333  10.743060   9.9  11.500  13.10  21.500  29.9
38      2.0  16.050000   9.121677   9.6  12.825  16.05  19.275  22.5
39      5.0  15.720000   8.992608   5.6   7.700  16.90  21.800  26.6
40     17.0  16.411765   7.284391   0.0  11.500  17.50  22.400  25.8
41     10.0  23.040000   6.061023  11.4  20.425  22.45  24.400  32.3
42     12.0  20.050000   9.205581   3.9  15.650  21.65  24.900  38.1
43     13.0  21.153846   5.582355  12.2  17.400  19.70  25.400  29.4
44      9.0  23.544444   9.563617   6.0  18.100  25.30  32.900  34.8
45      2.0  24.050000  14.778532  13.6  18.825  24.05  29.275  34.5
46      6.0  20.700000   8.948072   8.3  17.575  19.15  23.800  35.2
47     11.0  15.345455   8.728272   4.0   9.300  10.80  22.150  32.8
48      5.0  22.580000   6.729562  14.1  20.100  20.40  26.700  31.6
49      9.0  20.244444  10.125230   6.3  18.100  20.40  22.300  40.1
50      7.0  21.485714   7.822495  11.3  16.250  19.50  27.250  32.6
51      5.0  18.100000  16.707932   7.5   8.000  13.60  13.900  47.5
52      4.0  23.500000   3.976598  18.3  22.050  23.90  25.350  27.9
53      2.0  16.200000   1.697056  15.0  15.600  16.20  16.800  17.4
54      8.0  20.312500   9.324842   6.3  12.175  22.05  27.175  31.5
55     10.0  14.760000   7.409783   5.2  11.300  13.20  14.550  30.0
56      4.0  17.550000   8.931032   8.5  13.300  15.95  20.200  29.8
57      4.0  16.950000  10.694079   8.8  10.150  13.35  20.150  32.3
58      3.0  20.833333   5.662449  15.4  17.900  20.40  23.550  26.7
60      1.0  25.800000        NaN  25.8  25.800  25.80  25.800  25.8
61      4.0  20.175000   6.433441  11.8  16.825  21.55  24.900  25.8
62      5.0  24.360000   3.523209  18.6  24.300  24.80  26.100  28.0
63      1.0  27.300000        NaN  27.3  27.300  27.30  27.300  27.3
64      4.0  20.175000   6.219526  12.4  16.900  20.75  24.025  26.8
65      3.0  27.300000   9.277392  17.0  23.450  29.90  32.450  35.0
66      2.0  24.600000   8.202439  18.8  21.700  24.60  27.500  30.4
67      4.0  29.900000   2.660827  26.6  28.400  30.20  31.700  32.6
68      1.0  15.200000        NaN  15.2  15.200  15.20  15.200  15.2
69      2.0  26.200000   5.656854  22.2  24.200  26.20  28.200  30.2
70      2.0  19.000000  11.313708  11.0  15.000  19.00  23.000  27.0
72      5.0  26.160000   6.941398  14.9  26.000  27.00  29.300  33.6
74      1.0  31.900000        NaN  31.9  31.900  31.90  31.900  31.9
81      1.0  21.500000        NaN  21.5  21.500  21.50  21.500  21.5
For categories 4 and 5:     bodyfat
      count    mean        std   min     25%    50%    75%   max
age
22      2.0  15.700  13.576450   6.1  10.900  15.70  20.50  25.3
23      4.0  10.925   1.317510   9.4  10.075  11.00  11.85  12.3
24      4.0  20.750   6.014704  14.2  17.950  20.05  22.85  28.7
25      4.0  12.850  11.752021   4.1   5.000   8.85  16.70  29.6
26      6.0  15.150   7.178231   7.1   9.650  14.80  19.50  25.2
<class 'pandas.core.series.Series'>
Grouping accorning to age using average fat in the chest:
 age
22     94.700
23     95.350
24     99.125
25    100.925
26    103.950
Name: chest, dtype: float64
<class 'pandas.core.frame.DataFrame'>
Multiple Grouping :
        chest      weight
age
22    94.700  163.625000
23    95.350  175.100000
24    99.125  189.750000
25   100.925  179.312500
26   103.950  194.833333

/var/folders/_l/9yt9fjns3yl8khq3hlylkj7w0000gn/T/ipykernel_12681/102593858.py:18: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  multiGroup = BFA.groupby("age")["chest","weight"].mean()

In [21]:
# problem 2.3

import pandas as pd

smallData = pd.read_csv('EmpSmalldata0.csv')
print(smallData.shape)

colNames = smallData.columns # colNames is a LIST - features of the dataset
print(type(colNames))
print(colNames)

colNames = [col.upper() for col in smallData] # list comprehension to convert colNames to uppercase
print(colNames)

(1000, 8)
<class 'pandas.core.indexes.base.Index'>
Index(['First Name', 'Gender', 'Start Date', 'Last Login Time', 'Salary',
       'Bonus %', 'Senior Management', 'Team'],
      dtype='object')
['FIRST NAME', 'GENDER', 'START DATE', 'LAST LOGIN TIME', 'SALARY', 'BONUS %', 'SENIOR MANAGEMENT', 'TEAM']

In [22]:
# problem 2.4

import pandas as pd

# empDF = pd.read_csv('employees.csv')
# # print(empDF)

# # # PART 1 - Use of Index and value_count() methods
# mylist = empDF["First Name"] # this will give a series 
# print(mylist) # for debugging
# print(type(mylist))
# print()

# L = empDF["First Name"].tolist()  # series to list
# print("Printing from the list L", L[0:5]) # for debugging
# print()

# idx = pd.Index(L)
# print(idx)

# # Now using this idx, we can use value_counts()-counts the
# # freq of items in descending order

# X = idx.value_counts() 
# print('Duplicates: \n',X.head())


# PART 2 - Use of duplicated() method
# empDF1 = pd.read_csv('EmpSmalldata1.csv')
# duplicatedDF = empDF1[empDF1.duplicated('First Name')]
# print(duplicatedDF)

# duplicateRowsColsDF = empDF1[empDF1.duplicated(['First Name', 'Salary'])]
# print("Duplicate Rows based on specific cols except first occurrence based on specific columns are :")
# print(duplicateRowsColsDF)

empDF = pd.read_csv("employees.csv", index_col = 'First Name')
# print('Top 5 rows: \n',empDF.head(5))
# print('Features of this dataset: \n', empDF.columns)
# print('Shape of the employees DF: \n',empDF.shape)
# print()

# # print('Using loc() function:\n', empDF.loc['Douglas'])
# print()
# print('Using iloc() function to extract Row 3: \n', empDF.iloc[3])

# Z1 = empDF[10:16]  # from the original empDF
# #print('Z1 is: \n', Z1) # you need not print this; just for debug
# Z2 = Z1[['Salary', 'Team', 'Senior Management']] 
# print('Z2 (rows 10 to 15) is: \n',Z2)
# #print('Z2 is a: \n',type(Z2))
# print()

extracts element in row 0 under column 2_Capital using iloc() and at

NameError: name 'country_info' is not defined

In [28]:
# Problem 2.5
# Handling missing data

import pandas as pd

ESD = pd.read_csv("EmpSmalldata.csv")
print('ESD -  Shape of the data: \n',ESD.shape)
print()
print('Index method gives: ', ESD.index)
print()

ESDcols = ESD.columns
print("Features of this ESD: \n",ESDcols)
print()

# testing - extract female statistics alone
print('Female Gender Stats: \n', ESD[ESD.Gender == 'Female'])
print()
# Sometime we need to remove and present the data by removing
# the Gender col from this ESD and print as all are females;
Xf = ESD[ESD.Gender == 'Female']
print('Female Gender Stats: \n', Xf.drop(['Gender'], axis=1))
print()

#Identifying the gaps/voids in the data

ESDnull = ESD.isnull() # isnull() method identifies the voids, if any
# ESDnull is also a DF

print("ESDnull is: \n", ESDnull.head(10))  # What do you observe?
print()

print("Number of missing data in each feature: \n")
missingdata_stats = ESD.isnull().sum()
print(type(missingdata_stats)) # what do you observe?
print(missingdata_stats)
print()

# Now, use the above missingdata_stats and remove those columns
# in which there are more than 3 missing values - applic req

# print(missingdata_stats["Salary"]) # just checking!

f = [] # creating a feature list to delete from ESD
for i in range(len(missingdata_stats)):
       if(missingdata_stats[i] >= 3):
              # print(missingdata_stats[i]) # this will print the value
              feature = ESDcols[i] # extracting the name of the feature here
              # print("Column to delete in ESD: ",feature)
              f.append(feature)
print("Columns to delete in ESD are: ",f)

# above is a detailed implementation; You can try writing with comprehensions

print()
for j in range(len(f)):
       ESD = ESD.drop(f[j],axis=1)

print('After removing identified columns - EmpSmalldata0  Shape: \n',ESD.shape)
print(ESD.head(5))

ESD -  Shape of the data:
 (19, 8)

Index method gives:  RangeIndex(start=0, stop=19, step=1)

Features of this ESD:
 Index(['First Name', 'Gender', 'Start Date', 'Last Login Time', 'Salary',
       'Bonus %', 'Senior Management', 'Team'],
      dtype='object')

Female Gender Stats:
    First Name  Gender  Start Date Last Login Time    Salary  Bonus %  \
2       Maria  Female   4/23/1993        11:17 am  130590.0   11.858
6        Ruby  Female   8/17/1987         4:20 pm   65476.0   10.012
7         NaN  Female   7/20/2015        10:43 am   45906.0      NaN
10     Louise  Female   8/12/1980         9:01 am       NaN   15.132
11      Julie  Female  10/26/1997         3:19 pm  102508.0   12.637
14   Kimberly  Female   1/14/1999         7:13 am   41426.0   14.543
15    Lillian  Female    6/5/2016         6:09 am       NaN    1.256

   Senior Management     Team
2              False  Finance
6               True  Product
7                NaN  Finance
10              True      NaN
11              True    Legal
14              True  Finance
15             False  Product

Female Gender Stats:
    First Name  Start Date Last Login Time    Salary  Bonus %  \
2       Maria   4/23/1993        11:17 am  130590.0   11.858
6        Ruby   8/17/1987         4:20 pm   65476.0   10.012
7         NaN   7/20/2015        10:43 am   45906.0      NaN
10     Louise   8/12/1980         9:01 am       NaN   15.132
11      Julie  10/26/1997         3:19 pm  102508.0   12.637
14   Kimberly   1/14/1999         7:13 am   41426.0   14.543
15    Lillian    6/5/2016         6:09 am       NaN    1.256

   Senior Management     Team
2              False  Finance
6               True  Product
7                NaN  Finance
10              True      NaN
11              True    Legal
14              True  Finance
15             False  Product

ESDnull is:
    First Name  Gender  Start Date  Last Login Time  Salary  Bonus %  \
0       False   False       False            False   False    False
1       False   False       False            False   False    False
2       False   False       False            False   False    False
3       False    True       False            False   False    False
4       False   False       False            False   False     True
5       False   False       False            False    True    False
6       False   False       False            False   False    False
7        True   False       False            False   False     True
8       False    True       False            False   False    False
9       False    True       False            False   False    False

   Senior Management   Team
0              False  False
1              False   True
2              False  False
3              False  False
4              False  False
5              False  False
6              False  False
7               True  False
8              False  False
9              False  False

Number of missing data in each feature:

<class 'pandas.core.series.Series'>
First Name           1
Gender               5
Start Date           0
Last Login Time      0
Salary               5
Bonus %              4
Senior Management    2
Team                 2
dtype: int64

Columns to delete in ESD are:  ['Gender', 'Salary', 'Bonus %']

After removing identified columns - EmpSmalldata0  Shape:
 (19, 5)
  First Name Start Date Last Login Time Senior Management             Team
0    Douglas   8/6/1993        12:42 pm              True        Marketing
1     Thomas  3/31/1996         6:53 am              True              NaN
2      Maria  4/23/1993        11:17 am             False          Finance
3      Jerry   3/4/2005         1:00 pm              True          Finance
4      Larry  1/24/1998         4:47 pm              True  Client Services

In [29]:
import numpy as np
df = pd.DataFrame({'X': ['potato', 'carrot', 'nuts'], 'Y': ['carrot', 'butter', 'nuts'],
                   'Q': ['potato','potato','potato'], 'M': ['nuts',np.NaN,'nuts'], 'Z': [7,9,13]})
print(df)

X = pd.get_dummies(df, prefix=['col1', 'col2', 'col3','col4'])
print(X)

        X       Y       Q     M   Z
0  potato  carrot  potato  nuts   7
1  carrot  butter  potato   NaN   9
2    nuts    nuts  potato  nuts  13
    Z  col1_carrot  col1_nuts  col1_potato  col2_butter  col2_carrot  \
0   7            0          0            1            0            1
1   9            1          0            0            1            0
2  13            0          1            0            0            0

   col2_nuts  col3_potato  col4_nuts
0          0            1          1
1          0            1          0
2          1            1          1

In [30]:
# problem 2.6
data = pd.DataFrame({'EmployeeName': ['Xavier Simon', 'Sarah Nayer', 'Andrea Salim', 'Kasim Akram', 'Henry Sebastein', 'Amenda Bailey', 'Susan Paul', 'Tham Khong', 'Alex Chang', 'Kim Wang'],
                    'Department': ['Accounting', 'Engineering', 'Engineering', 'HR', 'HR', 'HR', 'Data Science', 'Data Science', 'Accounting', 'Data Science'],
                    'HireDate': [2010, 2018, 2012, 2014, 2014, 2018, 2020, 2018, 2020, 2012],
                    'Sex': ['M', 'F', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'F'],
                    'Birthdate': ['04/09/1982', '14/04/1981', '06/05/1997', '08/01/1986', '10/10/1988', '12/11/1992', '10/04/1991', '16/07/1995', '08/10/1992', '11/10/1979'],
                    'Weight': [78, 80, 66, 67, 90, 57, 115, 87, 95, 57],
                    'Height': [176, 160, 169, 157, 185, 164, 195, 180, 174, 165],
                    'Kids': [2, 1, 0, 1, 1, 0, 2, 0, 3, 1]
                    })
print(data)
print()
# 1 Create two columns by separating the first and the last names of the employees
# In this case we apply lambda func to Emp name column and split them.

data['FirstName'] = data['EmployeeName'].apply(lambda x : x.split()[0])
data['LastName'] = data['EmployeeName'].apply(lambda x : x.split()[1])
print(data)
print()
# 2 Compute the age of the employees and store as a separate column

# We need to write a function furst to derive the age of a person
# We need to use the date format in the dd/mm/yyyy format;
# We use the following

from datetime import datetime, date

def compute_age(birthdate):
    birthdate = datetime.strptime(birthdate, '%d/%m/%Y').date()
    today = date.today()
    return today.year - birthdate.year - (today.month < birthdate.month)

# now we can apply the above func to all under 'Birthdate' column in our DF

data['Age'] = data['Birthdate'].apply(compute_age)
print(data)
print()
# 3 Compute the average age of the employees in that organization.
print('Average age of this org: ', data['Age'].mean())
'''
#=======================


# Other useful methods to derive additional knowledge about the dataset
'''

# Aggregate method() - very useful method to collect group stats!

# An aggregate is a function where the values of multiple rows are
# grouped together to form a single summary value.

# Some of the aggregate functions supported by pandas are -
# DataFrame.aggregate(), Series.aggregate(), DataFrameGroupBy.aggregate()

# We can use pandas DataFrame.aggregate() function to
# calculate any aggregations on the selected columns of DataFrame
# and apply multiple aggregations at the same time.  

# Single aggregation - Find the total amount of salary in each team.

ESD = pd.read_csv("EmpSmalldata.csv")
sal_agg = ESD.groupby('Team')['Salary'].aggregate('sum')
print(sal_agg, type(sal_agg))
print()

# Multiple aggregation - Determine the max and mean

bonus_agg = ESD.groupby('Team')['Bonus %'].aggregate(['max', 'mean'])
print(bonus_agg, '\n', type(bonus_agg))

      EmployeeName    Department  HireDate Sex   Birthdate  Weight  Height  \
0     Xavier Simon    Accounting      2010   M  04/09/1982      78     176
1      Sarah Nayer   Engineering      2018   F  14/04/1981      80     160
2     Andrea Salim   Engineering      2012   F  06/05/1997      66     169
3      Kasim Akram            HR      2014   M  08/01/1986      67     157
4  Henry Sebastein            HR      2014   M  10/10/1988      90     185
5    Amenda Bailey            HR      2018   F  12/11/1992      57     164
6       Susan Paul  Data Science      2020   F  10/04/1991     115     195
7       Tham Khong  Data Science      2018   M  16/07/1995      87     180
8       Alex Chang    Accounting      2020   M  08/10/1992      95     174
9         Kim Wang  Data Science      2012   F  11/10/1979      57     165

   Kids
0     2
1     1
2     0
3     1
4     1
5     0
6     2
7     0
8     3
9     1

      EmployeeName    Department  HireDate Sex   Birthdate  Weight  Height  \
0     Xavier Simon    Accounting      2010   M  04/09/1982      78     176
1      Sarah Nayer   Engineering      2018   F  14/04/1981      80     160
2     Andrea Salim   Engineering      2012   F  06/05/1997      66     169
3      Kasim Akram            HR      2014   M  08/01/1986      67     157
4  Henry Sebastein            HR      2014   M  10/10/1988      90     185
5    Amenda Bailey            HR      2018   F  12/11/1992      57     164
6       Susan Paul  Data Science      2020   F  10/04/1991     115     195
7       Tham Khong  Data Science      2018   M  16/07/1995      87     180
8       Alex Chang    Accounting      2020   M  08/10/1992      95     174
9         Kim Wang  Data Science      2012   F  11/10/1979      57     165

   Kids FirstName   LastName
0     2    Xavier      Simon
1     1     Sarah      Nayer
2     0    Andrea      Salim
3     1     Kasim      Akram
4     1     Henry  Sebastein
5     0    Amenda     Bailey
6     2     Susan       Paul
7     0      Tham      Khong
8     3      Alex      Chang
9     1       Kim       Wang

      EmployeeName    Department  HireDate Sex   Birthdate  Weight  Height  \
0     Xavier Simon    Accounting      2010   M  04/09/1982      78     176
1      Sarah Nayer   Engineering      2018   F  14/04/1981      80     160
2     Andrea Salim   Engineering      2012   F  06/05/1997      66     169
3      Kasim Akram            HR      2014   M  08/01/1986      67     157
4  Henry Sebastein            HR      2014   M  10/10/1988      90     185
5    Amenda Bailey            HR      2018   F  12/11/1992      57     164
6       Susan Paul  Data Science      2020   F  10/04/1991     115     195
7       Tham Khong  Data Science      2018   M  16/07/1995      87     180
8       Alex Chang    Accounting      2020   M  08/10/1992      95     174
9         Kim Wang  Data Science      2012   F  11/10/1979      57     165

   Kids FirstName   LastName  Age
0     2    Xavier      Simon   40
1     1     Sarah      Nayer   42
2     0    Andrea      Salim   26
3     1     Kasim      Akram   37
4     1     Henry  Sebastein   34
5     0    Amenda     Bailey   30
6     2     Susan       Paul   32
7     0      Tham      Khong   28
8     3      Alex      Chang   30
9     1       Kim       Wang   43

Average age of this org:  34.2
Team
Business Development    139852.0
Client Services         233944.0
Engineering              95570.0
Finance                 356627.0
Human Resources         112807.0
Legal                   102508.0
Marketing                97308.0
Product                 177213.0
Sales                        0.0
Name: Salary, dtype: float64 <class 'pandas.core.series.Series'>

                         max       mean
Team
Business Development   7.524   7.524000
Client Services          NaN        NaN
Engineering           18.523  18.523000
Finance               14.543  11.913667
Human Resources        7.369   7.369000
Legal                 12.637  11.381000
Marketing              6.945   6.945000
Product               10.012   5.894000
Sales                  5.831   5.831000
 <class 'pandas.core.frame.DataFrame'>

In [18]:
import pandas as pd

ESD = pd.read_csv('EmpSmalldata.csv')

bonus_agg = ESD.groupby('Team')['Bonus %'].aggregate(['max', 'min', 'mean'])
print(bonus_agg, '\n', type(bonus_agg))

                         max     min       mean
Team
Business Development   7.524   7.524   7.524000
Client Services          NaN     NaN        NaN
Engineering           18.523  18.523  18.523000
Finance               14.543   9.340  11.913667
Human Resources        7.369   7.369   7.369000
Legal                 12.637  10.125  11.381000
Marketing              6.945   6.945   6.945000
Product               10.012   1.256   5.894000
Sales                  5.831   5.831   5.831000
 <class 'pandas.core.frame.DataFrame'>

In [34]:
# problem 2.7
data1 = {
        'Id': ['Tag1', 'Tag2', 'Tag3', 'Tag4', 'Tag5'],
        'Feature1': [0.54,0.99,0.01,0.3,0.5],
        'Feature3': [2.4,5.6,9.1,1.2,3.1]}

# convert the above dict to a DF
df1 = pd.DataFrame(data1, columns = ['Id', 'Feature1', 'Feature3'])

# print('df1 is: \n', df1)
# print()

data2 = {
        'Id': ['Tag1', 'Tag2', 'Tag6', 'Tag7', 'Tag8'],
        'Feature1': [0.79,0.90,0.08,0.3,0.8],
        'Feature2': [7.4,5.6,4.7,1.2,3.1],
        'Feature3': [7.9,15.6,4.7,1.2,3.1]}

df2 = pd.DataFrame(data2, columns = ['Id', 'Feature1', 'Feature2','Feature3'])

# print('df2 is: \n', df2)
# print()

# Observe that number of features in both the datasets are NOT identical
# Having created 2 DFs, we now concatenate using concat()

df_row = pd.concat([df1, df2])

# First observe that we are passing the DFs as a list

# print("Concatenated dataframe is: \n", df_row) # what do you observe??

# When you concatenate, the operation appends an extra column index, which is
# not in sequence! 


#To fix this, we can use the parameter "ignore_index" in
# the concat() method to True, which then runs the numbers in sequence.
print()

df_row_reindex = pd.concat([df1, df2], ignore_index=True) 

# print("Concatenated dataframe with correct indexing sequence is: \n", df_row_reindex)
# what do you observe??
print()

#  Now we have concatenated, how do we know which data came from which
# dataframe after concatenation?

# To solve this issue, we have an option to label the DataFrames AFTER the
# concatenation, using any specific key so that we know which data came
# from which dataframe

myframes = [df1,df2]
#print('myframes type is: \n',type(myframes)) 

my_df_keys = pd.concat(myframes, keys=['d1', 'd2'])
# print("Concatenated dataframe identifying the DFs with labels \n", my_df_keys)

print()

# This helps to retrieve the individual DFs, if needed later
# print("Retrieving second dataframe from concatenated dataframe: \n", my_df_keys.loc['d2'])
# the above retrieve the 2nd df - Compare with df2

print()

print('Accessing Feature1 in DF2 using my_df_keys: \n', my_df_keys.loc['d2']['Feature1'])
print()
print('Accessing 3rd and 4th rows in DF2 using my_df_keys \n',my_df_keys.loc['d2'][2:4])
print()

# Accessing Feature1 in DF2 using my_df_keys along with their Ids
X = my_df_keys.loc['d2']  # note that X is a DF
#print(type(X))
print(X.loc[:,['Id','Feature1']])
print()

# How do I access only rows 2 and 3 of DF2 using my_df_keys along with IDs?
print(X.loc[2:3,['Id','Feature1']])
#
print()

# ===== Concat along the columns  =====

# Adding more features if you need
# this is done by setting axis paramtere to 1;

df_cols = pd.concat([df1,df2], axis=1) # axis =1 refers to col
print("Concat column-wise: \n", df_cols)
print()

# But if you have another experiment with different features FOR
# THE SAME SAMPLES then it will be meaningful to concatenate along the columns
print()

data3 = {
        'Id': ['Tag1', 'Tag2', 'Tag3', 'Tag4', 'Tag5'],
        'Feature3': [0.99,0,10,0.7,3.5],
        'Feature4': [5.1,1.6,8,1,6]}

# first convert the above dict to a DF as usual 
df3 = pd.DataFrame(data3, columns = ['Id', 'Feature3', 'Feature4'])

print('df3 is: \n', df3)
print()

df_cols = pd.concat([df1,df3], axis=1) # axis =1 refers to col
print("Concat column-wise: \n", df_cols) # what do you observe?

print(df_cols.shape)
# we will remove the redundant second id col appearing now
# But the following removes BOTH the Id columns. Run and see!

df_cols.drop(df_cols.columns[[3]], axis = 1, inplace = True)
#what does this inplace do?

print("Concat column-wise: \n", df_cols)

# DIY! Amend the Id column to the above df_cols DF

Accessing Feature1 in DF2 using my_df_keys:
 0    0.79
1    0.90
2    0.08
3    0.30
4    0.80
Name: Feature1, dtype: float64

Accessing 3rd and 4th rows in DF2 using my_df_keys
      Id  Feature1  Feature3  Feature2
2  Tag6      0.08       4.7       4.7
3  Tag7      0.30       1.2       1.2

     Id  Feature1
0  Tag1      0.79
1  Tag2      0.90
2  Tag6      0.08
3  Tag7      0.30
4  Tag8      0.80

     Id  Feature1
2  Tag6      0.08
3  Tag7      0.30

Concat column-wise:
      Id  Feature1  Feature3    Id  Feature1  Feature2  Feature3
0  Tag1      0.54       2.4  Tag1      0.79       7.4       7.9
1  Tag2      0.99       5.6  Tag2      0.90       5.6      15.6
2  Tag3      0.01       9.1  Tag6      0.08       4.7       4.7
3  Tag4      0.30       1.2  Tag7      0.30       1.2       1.2
4  Tag5      0.50       3.1  Tag8      0.80       3.1       3.1


df3 is:
      Id  Feature3  Feature4
0  Tag1      0.99       5.1
1  Tag2      0.00       1.6
2  Tag3     10.00       8.0
3  Tag4      0.70       1.0
4  Tag5      3.50       6.0

Concat column-wise:
      Id  Feature1  Feature3    Id  Feature3  Feature4
0  Tag1      0.54       2.4  Tag1      0.99       5.1
1  Tag2      0.99       5.6  Tag2      0.00       1.6
2  Tag3      0.01       9.1  Tag3     10.00       8.0
3  Tag4      0.30       1.2  Tag4      0.70       1.0
4  Tag5      0.50       3.1  Tag5      3.50       6.0
(5, 6)
Concat column-wise:
    Feature1  Feature3  Feature3  Feature4
0      0.54       2.4      0.99       5.1
1      0.99       5.6      0.00       1.6
2      0.01       9.1     10.00       8.0
3      0.30       1.2      0.70       1.0
4      0.50       3.1      3.50       6.0

In [35]:
# problem 2.8.1
print("One-to-One join operation\n")

df1 = pd.DataFrame({'employee': ['Bob', 'John', 'Lisa', 'Susan'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})

df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'John', 'Susan'],
                    'hire_date': [2004, 2008, 2012, 2014]})
print("Individual dataframes are: \n", df1, "\n \n", df2)
print()

df3 = pd.merge(df1, df2)
print("Merged dataframe df3 (1 to 1 join): \n",df3)
print("======\n")

# Observe that the order of entries in each column is not necessarily
# maintained; In our example, the order of the "employee" column differs
# in df1 and df2, and the merged df.

One-to-One join operation

Individual dataframes are:
   employee        group
0      Bob   Accounting
1     John  Engineering
2     Lisa  Engineering
3    Susan           HR

   employee  hire_date
0     Lisa       2004
1      Bob       2008
2     John       2012
3    Susan       2014

Merged dataframe df3 (1 to 1 join):
   employee        group  hire_date
0      Bob   Accounting       2008
1     John  Engineering       2012
2     Lisa  Engineering       2004
3    Susan           HR       2014
======

In [36]:
# problem 2.8.2
print("Many-to-One join operation\n")

# Many-to-one joins are joins in which one of the two key columns contains
# duplicate entries. For the many-to-one case, the resulting DataFrame
# will preserve those duplicate entries as appropriate. 

# Let us add a "supervisor" column now and merge with df3 above.

grpsup = {'group': ['Accounting', 'Engineering', 'HR'],
                    'supervisor': ['Mike', 'Gillman', 'Roger']}

df4 = pd.DataFrame(grpsup)
print("Individual dataframes are: \n", df3, "\n \n", df4, "\n")

# duplicate column is 'group' between df3 and df4; This duplicate
# col will be preserved when we merge and entry duplicates are
# also preseved ('Gillman' in this case). See below. 

df5 = pd.merge(df3, df4)
print("Merged dataframes df3 and df4 (Many to one):\n", df5) # What do you observe?
print("======\n")

Many-to-One join operation

Individual dataframes are:
   employee        group  hire_date
0      Bob   Accounting       2008
1     John  Engineering       2012
2     Lisa  Engineering       2004
3    Susan           HR       2014

          group supervisor
0   Accounting       Mike
1  Engineering    Gillman
2           HR      Roger

Merged dataframes df3 and df4 (Many to one):
   employee        group  hire_date supervisor
0      Bob   Accounting       2008       Mike
1     John  Engineering       2012    Gillman
2     Lisa  Engineering       2004    Gillman
3    Susan           HR       2014      Roger
======

In [37]:
print("Many-to-Many join operation\n")

# Many-to-many join operations are a bit confusing conceptually, but are 
# well defined.

# Criteria is:
# If a DF contains key columns in which both the left and right
# array contains duplicates, then the result is a many-to-many merge.

# Let us add a skill set requirement in the groups for the above data

grpskills = {'group': ['Accounting', 'Accounting', 'Engineering', 'Engineering', 'HR', 'HR'],
             'skills': ['math', 'spreadsheets', 'coding', 'linux', 'spreadsheets', 'organization']}

df6 = pd.DataFrame(grpskills)

print("Individual dataframes df1 and df6 are: \n", df1, "\n \n", df6, "\n")

df7 = pd.merge(df1,df6)
print(' Dataframe df7 - Merged df1 and df6 is: \n', df7)
print()

# So, by performing a many-to-many join, we can recover the skills
# associated with any individual person


# Now merge df5 and df6 and see! What do you observe?

print("Merging df5 and df6\n", pd.merge(df5, df6))

Many-to-Many join operation

Individual dataframes df1 and df6 are:
   employee        group
0      Bob   Accounting
1     John  Engineering
2     Lisa  Engineering
3    Susan           HR

          group        skills
0   Accounting          math
1   Accounting  spreadsheets
2  Engineering        coding
3  Engineering         linux
4           HR  spreadsheets
5           HR  organization

 Dataframe df7 - Merged df1 and df6 is:
   employee        group        skills
0      Bob   Accounting          math
1      Bob   Accounting  spreadsheets
2     John  Engineering        coding
3     John  Engineering         linux
4     Lisa  Engineering        coding
5     Lisa  Engineering         linux
6    Susan           HR  spreadsheets
7    Susan           HR  organization

Merging df5 and df6
   employee        group  hire_date supervisor        skills
0      Bob   Accounting       2008       Mike          math
1      Bob   Accounting       2008       Mike  spreadsheets
2     John  Engineering       2012    Gillman        coding
3     John  Engineering       2012    Gillman         linux
4     Lisa  Engineering       2004    Gillman        coding
5     Lisa  Engineering       2004    Gillman         linux
6    Susan           HR       2014      Roger  spreadsheets
7    Susan           HR       2014      Roger  organization

In [38]:
# From our df7, query on Bob and retrieve all the info - Try!

# As indices are not names, we can make that first

namelist = df7.loc[:,['employee']]
print(namelist) # this is still NOT a list
print()
namelist = namelist["employee"].tolist()
print("List of employees \n", namelist)
print()
# now you can reindex using namelist!
df7.index = namelist  # same as P.P 2.1

print("Dataframe df7 with a redundant (emp) col and names as indices is: \n", df7)
 
print()
# now we will remove the employee column from df7

df7 = df7.drop(df7.columns[0],axis=1)
print(df7)
print()

# Now query!! Uhh!! :) 

print(df7.loc['Bob'])

  employee
0      Bob
1      Bob
2     John
3     John
4     Lisa
5     Lisa
6    Susan
7    Susan

List of employees
 ['Bob', 'Bob', 'John', 'John', 'Lisa', 'Lisa', 'Susan', 'Susan']

Dataframe df7 with a redundant (emp) col and names as indices is:
       employee        group        skills
Bob        Bob   Accounting          math
Bob        Bob   Accounting  spreadsheets
John      John  Engineering        coding
John      John  Engineering         linux
Lisa      Lisa  Engineering        coding
Lisa      Lisa  Engineering         linux
Susan    Susan           HR  spreadsheets
Susan    Susan           HR  organization

             group        skills
Bob     Accounting          math
Bob     Accounting  spreadsheets
John   Engineering        coding
John   Engineering         linux
Lisa   Engineering        coding
Lisa   Engineering         linux
Susan           HR  spreadsheets
Susan           HR  organization

          group        skills
Bob  Accounting          math
Bob  Accounting  spreadsheets